/* 1. Estilize as divs para que, ao passar o cursor por cima das mesmas,
elas ganhem uma borda
 */
div:hover {
    border: 3px solid darkred;
}

/* 2. Faça cada div ter uma cor própria.*/
div:nth-of-type(1) {
    background-color: darkslateblue;
}



