.img {
    width: 530px;
}

.cavalo-marinho{
    color: dodgerblue;
}

.paragrafos{
    background-color: whitesmoke;n
    width: 80%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden ;
}